@import "icon.qss";
@import "dark.qss";
@import "light.qss";

QPushButton {
	/*Trên dưới 8px, Trái phải 16px*/
	padding: 8px 16px;

	/*Cỡ chữ 10pt*/
	font-size: 10pt;

	/*Bo góc mềm mại*/
	border-radius: 8px;

	font-weight: bold;
}
QPushButton:hover{
	background-color: #545454;
}
QPushButton:pressed{
	background-color: #474747;
}
QPushButton[type="sidebarButton"]{
	text-align: left;
	color: #9B9A97;
}
QPushButton[type="iconButton"]{
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;

    padding: 0px;

    font-size: 10pt;

    border-radius: 8px;
}
QPushButton::menu-indicator{
	image: none;
	width: 0px;
}

QLabel{
    font-family: "Segoe UI", "Roboto", sans-serif;
    font-size: 16px;
}
QLabel[type="title"]{
    font-weight: bold;
    font-size: 30px;
}
QLabel[type="sidebar-title"]{
	font-weight: bold;
	margin-top: 8px;
	color: #9B9A97
}
QLabel[type="chapter-title"]{
	font-weight: bold;
}
QLabel[type="path"]{
	color: #787878;
	font-size: 11px;
	background-color: transparent;
}
QLabel[type="brief"]{
	margin: 4px;
}

QMenu{
    font-family: "Segoe UI", "Roboto", sans-serif;
    font-size: 16px;
    icon-size: 16px;
}

ViewReviewTag{
	border: 1px solid #424242;
	border-radius: 8px;
}
ViewReviewTag:hover{
	background-color: #545454;
}
ViewReviewTag:pressed{
	background-color: #474747;
}

ViewNoteBlock{
	margin:0px;
}

QListWidget{
	font-family: "Segoe UI", "Roboto", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #9B9A97;
}

QComboBox{
	font-family: "Segoe UI", "Roboto", sans-serif;
	font-size: 16px;
}

QLineEdit[type="chapter-title"]{
    font-family: "Segoe UI", "Roboto", sans-serif;
    font-size: 16px;
	font-weight: bold;
	font-size: 16px;
}

QPlainTextEdit{
    font-family: "Segoe UI", "Roboto", sans-serif;
    font-size: 16px;
}

QSplitter::handle{
	background-color: #424242;
	width: 4px;
}
QSplitter::handle:hover{
	background-color: #545454;
}
QSplitter::handle:pressed{
	background-color: #474747;
}

ViewSidebar{
	background-color: #202020;
	margin: 0px;
}

QuestionEdit{
	border: 1px solid #ffffff;
	border-radius: 8px;
}